<nav class="navbar">
    <h1>
        <a href="/">
            <img src="https://www.brandbucket.com/sites/default/files/logo_uploads/133760/large_ovulent.png" alt="" height="75px;">
        </a>
    </h1>
</nav>
