<div class="donors col-md-6">
    <h1> Donors </h1>
    {{#each donors}}
    <h2>
        <a href="/donors/{{this._id}}">
            {{this.fname}}
        </a>
    </h2>
    {{/each}}
</div>
<div class="families col-md-6">
    <h1> Families </h1>

</div>
