<form method='POST' action="/donors/{{donor._id}}?_method=PUT">
    <fieldset>
        <p>
            <label for="status"> Status </label>
            <select>
                <option value="{{donor.status}}"> Approve </option>
                <option value="{{donor.status}}"> Decline </option>
            </select>
        </p>
        <button type="submit" name="button"> Submit </button>
    </fieldset>
</form>
