<form method='POST' action="/donors/{{donor._id}}?_method=PUT">
    <fieldset>
        <h1>Review</h1>
        <p>
            <label for="status"> Status </label>
            <input id="status" type="text" name="status" value="{{donor.status}}">
        </p>
        <button type="submit" name="button"> Submit </button>
    </fieldset>
</form>
