<div class="container">
    <div class="col-md-12">
        <img style="margin-left: 50px; float:right; opacity:0.80;" src="https://thenextfamily.com/wp-content/uploads/2015/10/Black-beach-e1417027849613.jpeg" height="300px" alt="family-on-beach">
        <h3>Our Mission </h3>
        <p>
            Ovulent, previously known as UterusBNB matches families like yours with state-of-the-art, personalized reproductive care in a friendly and intimate way. We care for our patients with respect and compassion. Phasellus rhoncus nec ante a consectetur. Cras ac imperdiet nisi, a venenatis nisl.
        </p>
        <p>
            Risus felis iaculis leo, nec molestie arcu sem at libero. Curabitur sit amet dui et justo posuere lobortis. Phasellus rhoncus nec ante a consectetur. Cras ac imperdiet nisi, a venenatis nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
    </div>
    <div style="text-align:center" class="col-md-12">
        <h3>Contact </h3>
        <p>families@ovulent.com</p>
    </div>
</div>
