<h2> Fertility Clinic </h2>

<button type="button" name="button">
    <a href="/donors/new"> Looking to Become A Donor </a>
</button>

<button type="button" name="button">
    <a href="/families"> Looking for A Donor </a>
</button>

<p>
    Already have an account...
    <button type="button" name="button">
        <a href="/login"> Log In </a>
    </button>
</p>
