<div class="container">
    <div class="landing-page">
        <h4>
            <a class="col-md-6" href="/donors/new"> Looking to <br> Become A Donor </a>
            <a class="col-md-6" href="/families"> Looking for A Donor </a>
        </h4>
        <p class="login-link">
            <a href="/login"> Log In </a>
        </p>
    </div>
</div>
