
<div class="container">
  <ul class="nav nav-tabs" style="text-align: center;">
    <li style="margin-left: 30px;"class="active"><a data-toggle="tab" href="#families"> Families </a></li>
    <li style="margin-left: 300px;"><a data-toggle="tab" href="#menu1"> Donors </a></li>
    <li style="margin-left: 300px;"><a data-toggle="tab" href="#menu2"> Nurses </a></li>
  </ul>

  <div class="tab-content">
    <div id="families" class="tab-pane fade in active">
        <form style="margin: 25px;">
            <div class="form-group">
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <a href="/public-donors"> Log In</a>
            <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </div>
    <div id="menu1" class="tab-pane fade">
        <form style="margin: 25px;">
            <div class="form-group">
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </div>
    <div id="menu2" class="tab-pane fade">
        <form style="margin: 25px;">
            <div class="form-group">
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <a href="/donors"> Log In</a>
            <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </div>
  </div>
</div>
