<div class="">
    Families:
    <input type="text" name="" value="" placeholder="Username: ">
    <input type="text" name="" value="" placeholder="Password: ">
    <button type="button" name="button">
        <a href="/public-donors">Log In</a>
    </button>
</div>

<div class="">
    Donors:
    <input type="text" name="" value="" placeholder="Username: ">
    <input type="text" name="" value="" placeholder="Password: ">
    <button type="button" name="button">
        <a href="#">Log In</a>
    </button>
</div>

<div class="">
    Nurses:
    <input type="text" name="" value="" placeholder="Username: ">
    <input type="text" name="" value="" placeholder="Password: ">
    <button type="button" name="button">
        <a href="/donors">Log In</a>
    </button>
</div>
