<div class="container">
    <div class="nav nav-tabs">
        <ul class="nav nav-tabs">
            <li style="margin-left: 125px;"class="active"><a data-toggle="tab" href="#families"> Families </a></li>
            <li style="margin-left: 300px;"><a data-toggle="tab" href="#menu1"> Donors </a></li>
            <li style="margin-left: 300px;"><a data-toggle="tab" href="#menu2"> Nurses </a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="families" class="tab-pane fade in active">
            <form style="margin: 25px;">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <a style="margin-right: 75px; float:right;" href="/public-donors"> Log In</a>
            </form>
        </div>
        <div id="menu1" class="tab-pane fade">
            <form style="margin: 25px;">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <a style="margin-right: 75px; float:right;" href="#"> Log In</a>
            </form>
        </div>
        <div id="menu2" class="tab-pane fade">
            <form style="margin: 25px;">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <a style="margin-right: 75px; float:right;" href="/donors"> Log In</a>
            </form>
        </div>
    </div>
</div>
