<!-- <form class="" action="index.html" method="post">
    <input type="text" name="" value="" placeholder="Username: ">
    <input type="text" name="" value="" placeholder="Password: ">
    <input type="submit" name="" value="Enter">
</form> -->

<div class="">
    Families:
    <input type="text" name="" value="" placeholder="Username: ">
    <input type="text" name="" value="" placeholder="Password: ">
    <button type="button" name="button">
        <a href="#">Log In</a>
    </button>
</div>

<div class="">
    Donors:
    <input type="text" name="" value="" placeholder="Username: ">
    <input type="text" name="" value="" placeholder="Password: ">
    <button type="button" name="button">
        <a href="#">Log In</a>
    </button>
</div>

<div class="">
    Nurses:
    <input type="text" name="" value="" placeholder="Username: ">
    <input type="text" name="" value="" placeholder="Password: ">
    <button type="button" name="button">
        <a href="/donors">Log In</a>
    </button>
</div>
