<form method="POST" action="/donors">
    <fieldset>
        <legend> Egg Donor Application </legend>
        <p>
            <label for="name"> Name </label>
            <input id="name" type="text" name="name" value="{{donor.name}}">
        </p>
        <p>
            <label for="age"> Age </label>
            <input id="age" type="text" name="age" value="{{donor.age}}">
        </p>
        <p>
            <label for="race"> Race </label>
            <input id="race" type="text" name="race" value="{{donor.race}}">
        </p>
    </fieldset>
    <p>
        <button type="submit" name="button"> Submit </button>
    </p>
</form>
