<div class="container">
    <h1 style="text-align:center"> Meet Our Donors </h1>

    {{#each donors}}
    {{#if this.status}}
        <div class="col-md-4">
            <a href="/donors/{{this._id}}">
                {{this.fname}}
            </a>
        </div>
    {{/if}}
    {{else}}
        <h4 style="text-align:center"> No Available Donors at this time </h4>
    {{/each}}

</div>
