{{!-- Sign Up Form --}}
<form action="/sign-up" method="POST" ></form>
  <input type="text" size="30" value="username" placeholder="Username">
  <input type="password" size="30" value="password" placeholder="Password">
  <input type="submit" value="Sign Up">  
</form>