{{!-- Thank You Page --}}
<div class="thank-you">
    <iframe src="https://giphy.com/embed/43NAzb1KTRjIcelZM1" width="480" height="157" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/thanks-thank-you-43NAzb1KTRjIcelZM1"></a></p>
    <p>Thank you for you interest in becoming an egg donor! <br> You're application has been recieved and our staff will get in touch shortly.</p>
</div>
